<ion-content>
  <main>
    <div class="middle-container">
      <div style="display: flex; align-items: center; flex-direction: column;">
        <img src="assets/icons/icon-128x128.png" />
        <div style="margin: 8px; font-weight: bold; font-size: 1.2rem;">
          <span style="color: #fff">Devorador</span><span style="color: #2bb9b6">Demente</span>
        </div>
      </div>
      <ion-card>
        <ion-card-header>
          <ion-card-title class="ion-text-center">Login</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button expand="full" (click)="logginWithFacebook()">Facebook</ion-button>
          <ion-button expand="full" color="danger" (click)="logginWithGoogle()">Google</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </main>
</ion-content>
