<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <div style="display: flex; align-items: center; flex-direction: column;">
            <div *ngIf="loggedUser | async as user" class="avatar-container">
              <img class="avatar" [src]="user.photoURL" />
              <p>{{user.displayName}}</p>
            </div>
            <div style="display: flex; align-items: center; margin: 8px -4px;">
              <ion-avatar>
                <img src="assets/icon/favicon.png" />
              </ion-avatar>
              <span style="margin: 0 12px;">
                <span>Devorador</span><span style="color: #2bb9b6">Demente</span>
              </span>
            </div>
          </div>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div style="display: flex; flex-direction: column; height: 100%;">
        <ion-list style="flex: 1">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item button (click)="logout()">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Logout
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <footer style="height: 52px; text-align: center; font-size: 0.9rem;">
          <p><span>Devorador</span><span style="color: #2bb9b6">Demente</span>© v{{version}}</p>
        </footer>
      </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
